/*
- html의 기본 룰을 정하는 역할을 한다.
*/

@layer base {
    /* reset: 모든 요소의 마진,패딩 값 초기화 */
    *,
    *::before,
    *::after {
        box-sizing: border-box; /* 박스 크기 계산 방식 통일 */
        margin: 0; /* 바깥 여백 0 */
        padding: 0; /* 안쪽 여백 0 */
    }

    /* html: 전체 페이지 설정 */
    html {
        -webkit-font-smoothing: antialiased; /* 글자를 부드럽게 함 */
        text-rendering: optimizeLegibility; /* 글자를 예쁘게 */
    }
    
    body {
        font-family: var(--font-sans); /* 폰트 */
        background-color: var(--background); /* 배경색 */
        color: var(--foreground);/* 글자색 검정 */
        line-height: 1.6; /* 줄 간격 */
        min-height: 100vh; /* 최소 높이 = 화면 전체 */

        /* 페이지 중앙정렬 */
        display: flex; /* flex 레이아웃 */
        justify-content: center; /* 가로 중앙 */

    }

    /* font-preset */
    /* 28px */
    h1 {
        font-size: var(--text-h1);
        font-weight: var(--weight-h1);
        letter-spacing: var(--tracking-h1);
        line-height: 1.2;
    }

    /* 24px */
    h2 {
        font-size: var(--text-h2);
        font-weight: var(--weight-h2);
        letter-spacing: var(--tracking-h2);
        line-height: 1.3;
    }

    /* 20px */
    h3 {
        font-size: var(--text-h3);
        font-weight: var(--weight-h3);
        letter-spacing: var(--tracking-h3);
        line-height: 1.4;
    }

    /* 18px */
    h4 {
        font-size: var(--text-h4);
        font-weight: var(--weight-h4);
        letter-spacing: var(--tracking-h4);
        line-height: 1.5;
    }

    /* 16px */
    p {
        font-size: var(--text-body1);
        font-weight: var(--weight-body1);
        letter-spacing: var(--tracking-body1);
        line-height: 1.6;
    }

    /* 12px */
    small {
        font-size: var(--text-body2);
        font-weight: var(--weight-body2);
        letter-spacing: var(--tracking-body2);
    }
}