/* 
 * 재사용 UI 컴포넌트 공통 베이스 스타일
 * Button, Input, Dropdown, Card 컴포넌트의 기본 스타일 정의
 */


@layer components {

    /* ================== 버튼 ================== */
    .btn { 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;
        border: none;
        border-radius: 8px;
        font-size: var(--text-body1);
        font-weight: var(--weight-body1);
        letter-spacing: var(--tracking-body1);
        line-height: 1.6;
        cursor: pointer;
        transition: all 0.2s;
    }

    .w-full {
        width: 100%;
    }

    /* ================== 인풋 ================== */  
    .input {
        width: 100%;
        padding: 14px 20px;
        background-color: var(--white);
        border: 1px solid var(--gray-30);
        border-radius: 8px;
        font-size: var(--text-body1);
        font-weight: var(--weight-body1);
        letter-spacing: var(--tracking-body1);
        line-height: 1.6;
        transition: border-color 0.2s ease;
    }

    /* ================== 드롭다운 ================== */
    .dropdown-container {
        position: relative;
        width: 100%;
    }

    /* ================== 카드 ================== */
    .card-container {
        position:relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 1px solid var(--gray-20);
        width: 100%;
        max-width: 360px;
        min-width: 170px;
        padding: 16px;
        background-color: var(--color-white);
    }

    /* ================== 모달팝업 ================== */
    .modal-dim {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,.4);/* 어두운 배경 */
        display: flex;
        justify-content: center;    
        align-items: center;       
    }

    .modal-container {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 1px solid var(--gray-20);
        width: 100%;
        max-width: 320px;
        max-height: 250px;
        background-color: var(--color-white);
        padding: 40px;
    }


}