/*
- components.css는 재사용 가능한 UI 컴포넌트를 정의한다.
*/

@layer components {
    /* button 기본 스타일 */
    .btn {
        display: inline-flex; /* 가로로 나란히 배치 가능 + 내부 요소 정렬 가능 */
        align-items: center; /* 내용을 세로 중앙 정렬 */
        justify-content: center; /* 내용을 가로 중앙 정렬 */
        padding: 14px 24px; /* 위아래 12px, 좌우 24px */
        border: none; /* 기본 테두리 제거 */
        border-radius: 8px; /* 모서리 둥글게 */
        font-size: var(--text-body1); /* body1 변수 사용 */
        font-weight: var(--weight-body1); /* body1 변수 사용 */
        letter-spacing: var(--tracking-body1); /* body1 변수 사용 */
        line-height: 1.6; /* 줄 간격 */
        cursor: pointer; /* 마우스 올리면 손가락 모양 */
        transition: all 0.2s; /* 부드러운 애니메이션 */
    }

    /* button color variants */
    /* primary */
    .btn-primary {
        background-color: var(--primary-40);
        color: var(--white);
    }

    .btn-primary:hover {
        background-color: var(--primary-50);
    }

    /* disable */
    .btn-disable {
        background-color: var(--gray-30);
        color: var(--white)
    }

    /* outline */
    .btn-outline {
        background-color: var(--white);
        color: var(--primary-40);
        outline: 1px solid var(--primary-40)
    }

    /* 사이즈 variants */
    /* 작은 버튼 */
    .btn-sm {
        padding: 8px 12px;
        font-size: var(--text-body2);
        font-weight: var(--weight-h1);
        letter-spacing: var(--tracking-body2);
    }

    /* 중간 버튼 */
    .btn-md {
        padding: 10px 20px;
        font-size: var(--text-body1);
        font-weight: var(--weight-h1);
        letter-spacing: var(--tracking-body1);
        line-height: 1.6;
    }

    /* 큰 버튼 */
    .btn-lg {
        padding: 14px 36px;
        font-size: var(--text-body1);
        font-weight: var(--weight-h1);
        letter-spacing: var(--tracking-body1);
        line-height: 1.6;
    }
}