/*
- theme.css는 디자인(색상, 폰트)를 정의하는 역할을 한다.
*/

:root {
  /* 배경 / 글자색 */
  --background: #ffffff;
  --foreground: #000000;

  /* primary */
  --primary-50: #5900D6;
  --primary-40: #6A00FF;
  --primary-30: #A86AFF;
  --primary-20: #DBC1FF;
  --primary-10: #F2E8FF;

  /* status */
  --blue-20: #0080ff;
  --blue-10: #cce6ff;
  --green-20: #20a81e;
  --green-10: #d4f7d4;
  --kakao: #fee500;

  /* grayscale */
  --black: #000000;
  --gray-50: #7d7986;
  --gray-40: #a4a1aa;
  --gray-30: #cbc9cf;
  --gray-20: #e5e4e7;
  --gray-10: #f2f2f3;
  --gray-5: #fafafa;
  --white: #ffffff;

  /* font-sizes */
  --text-h1: 28px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-body1: 16px;
  --text-body2: 14px;
  --text-caption: 12px;

  /* letter-spacing */
  --tracking-h1: -0.5px;
  --tracking-h2: -0.3px;
  --tracking-h3: -0.2px;
  --tracking-h4: -0.1px;
  --tracking-body1: 0px;
  --tracking-body2: 0px;
  --tracking-caption: 0px;

  /* font-weights */
  --weight-h1: 700;
  --weight-h2: 600;
  --weight-h3: 600;
  --weight-h4: 500;
  --weight-body1: 400;
  --weight-body2: 400;
  --weight-caption: 400;

   /* font-family */
  --font-sans: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  --font-title: "Montserrat", sans-serif;
}



/* Tailwind v4 테마 매핑 */
@theme inline {
  /* colors */
  --color-primary-50: var(--primary-50);
  --color-primary-40: var(--primary-40);
  --color-primary-30: var(--primary-30);
  --color-primary-20: var(--primary-20);
  --color-primary-10: var(--primary-10);

  --color-blue-20: var(--blue-20);
  --color-blue-10: var(--blue-10);
  --color-green-20: var(--green-20);
  --color-green-10: var(--green-10);
  --color-kakao: var(--kakao);

  --color-black: var(--black);
  --color-gray-50: var(--gray-50);
  --color-gray-40: var(--gray-40);
  --color-gray-30: var(--gray-30);
  --color-gray-20: var(--gray-20);
  --color-gray-10: var(--gray-10);
  --color-gray-5: var(--gray-5);
  --color-white: var(--white);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* font-sizes */
  --text-h1: var(--text-h1);
  --text-h2: var(--text-h2);
  --text-h3: var(--text-h3);
  --text-h4: var(--text-h4);
  --text-body1: var(--text-body1);
  --text-body2: var(--text-body2);
  --text-caption: var(--text-caption);

  /* letter-spacing */
  --tracking-h1: var(--tracking-h1);
  --tracking-h2: var(--tracking-h2);
  --tracking-h3: var(--tracking-h3);
  --tracking-h4: var(--tracking-h4);
  --tracking-body1: var(--tracking-body1);
  --tracking-body2: var(--tracking-body2);
  --tracking-caption: var(--tracking-caption);

  /* font-weights */
  --weight-h1: var(--weight-h1);
  --weight-h2: var(--weight-h2);
  --weight-h3: var(--weight-h3);
  --weight-h4: var(--weight-h4);
  --weight-body1: var(--weight-body1);
  --weight-body2: var(--weight-body2);
  --weight-caption: var(--weight-caption);

  /* font-family */
  --font-sans: var(--font-sans);
  --font-title: var(--font-title);

}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
