@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/components.css";
@import "./styles/utilities.css";

@layer base {
  body {
    @apply text-gray-800 bg-white;
  }
}
