/* 
 * 버튼 컴포넌트 스타일
 * - primary: 주요 액션 버튼 (CTA)
 * - outline: 보조 액션 버튼
 * - disabled: 비활성화 상태
 */

/* primary 버튼 */
.btn-primary { 
    background-color: var(--primary-40);
    color: var(--white);
}

.btn-primary:hover { 
    background-color: var(--primary-50);
}

.btn-disabled { 
    background-color: var(--gray-10);
    color: var(--gray-60);
    cursor: not-allowed;
    pointer-events: none;
}

.btn-outline { 
    background-color: var(--white);
    color: var(--primary-40);
    border: 1px solid var(--primary-40);
}

.btn-outline:hover { 
    background-color: var(--primary-10);
}

/* 
 * 버튼 크기 변형 (Sizes)
 * - sm (small): 작은 버튼
 * - md (medium): 기본 버튼 (권장)
 * - lg (large): 큰 버튼
 */

 /* 버튼 사이즈 */
.btn-sm { 
    padding: 8px 12px;
    font-size: var(--text-body2);
}

.btn-md { 
    padding: 10px 20px;
    font-size: var(--text-body1);
}

.btn-lg { 
    padding: 14px 36px;
    font-size: var(--text-body1);
}