/* 
 * 인풋 컴포넌트 스타일
 * - 포커스, placeholder, 비활성화, 에러 상태 지원
 */

/* 인풋 포커스 상태 */
.input:focus { 
    border-color: var(--primary-40);
    outline: none;
}

/* 인풋 placeholder */
.input::placeholder { 
    color: var(--gray-50);
    opacity: 0.8;
}

/* 인풋 비활성화 상태 */
.input-disabled { 
    background-color: var(--gray-10);
    border-color: var(--gray-10);
    cursor: not-allowed;
    pointer-events: none;
}

/* 인풋 에러 상태 */
.input-error { 
    border-color: var(--red-20);
}

.input-error:focus { 
    border-color: var(--red-20);
}

.input-error::placeholder { 
    color: var(--red-20);
}