
/* 480px 이상(작은 태블릿) */
@media (min-width: 480px) {
  .modal-container {
    max-width: 320px;
  }
}

/* 768px 이상(태블릿/PC) */
@media (min-width: 768px) {
  .modal-container {
    max-width: 400px;
  }
}

.modal-title {
    font-size: var(--text-h3);
    color: var(--color-black);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;  
}

.one-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.two-btn {
    display: flex;
    gap:10px;
    width: 100%; 
}